doctype html
html
    head
        meta(charset="utf-8")
        title Template by Régis Irala
        link(rel="stylesheet" href="./components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="./components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="./css/styles.css")
        link(rel="stylesheet" href="./css/index.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            a.navbar-brand(href="http://www.sitesbyirala.hol.es")
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse(id="navbarTogglerDemo02")
                ul.navbar-nav.ml-auto.mt-2.mt-lg-0
                    li.nav-item
                        a.nav-link.active(href="#") About
                            span.sr-only
                    li.nav-item
                        a.nav-link(href="#") Portfolio
                    li.nav-item
                        a.nav-link(href="#") Services
                    li.nav-item
                        a.nav-link(href="#") Contact
        header#topo
            div.apresenta
                h1 Régis { #[span.chaves Irala] }
                p Desenvolvimento Web que encanta

        script(src="./components/jquery/dist/jquery.min.js")
        script(src="./components/bootstrap/dist/js/bootstrap.min.js")
        script(src="./js/scripts.js")